fastapi
numpy==2.0.2
pandas==2.2.2
thinc==8.3.6
uvicorn>0.18.0
boto3
spacy==3.8.5
python-multipart
nltk
scikit-learn
joblib
ssdeep==3.4
es_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.8.0/es_core_news_lg-3.8.0-py3-none-any.whl
